body {
    background-color: #124b54;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: large;
    align-content: center;
    color: #124b54;
}

a {
    color: #071d20;
}

#main {

    width: 800px;
    margin: 0 auto;
    border-radius: 10px;
    background: #f9774b;
    text-align: center;
    align-content: center;
    padding-bottom: 100px;
}

#article {
    
    margin: auto;
    width: 90%;
    border-radius: 50px;
    background: #d65b2e;
   
}

footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
}

button {
    cursor: pointer;

    margin-top: 10px;
    font-size: 15px;
    border-radius: 5px;
    font-family: Arial;
    width: 90%;
    border-width: 0px;
    background-color: #d65b2e;
    transition: 100ms;
    color: #124b54;
}


ul {
    list-style-type: none;
    padding: 0;

}


@-webkit-keyframes shadow-drop-2-center {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-box-shadow: 0 0 0 0 transparent;
        box-shadow: 0 0 0 0 transparent
    }

    100% {
        -webkit-transform: translateZ(50px);
        transform: translateZ(50px);
        -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, .35);
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, .35)
    }
}

@keyframes shadow-drop-2-center {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-box-shadow: 0 0 0 0 transparent;
        box-shadow: 0 0 0 0 transparent
    }

    100% {
        -webkit-transform: translateZ(50px);
        transform: translateZ(50px);
        -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, .35);
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, .35)
    }

}

button:hover {
    width: 95%;
}