body {
    background-color: #fffded;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: large;
    align-content: center;
    color: #124b54;
}

a {
    color: #071d20;
}

#main {

    width: 800px;
    margin: 0 auto;
    border-radius: 10px;
    background: #fffaca;
    text-align: center;
    align-content: center;
    padding-bottom: 10px;
}

#article {
    
    margin: auto;
    width: 90%;
    border-radius: 5px;
    background: #fff7b3;
   
}

footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
}

button {
    border-width: 0px;
    margin: 10px;
    cursor: pointer;

    font-size: 15px;
    font-family: Arial;
    width: 90%;
    border-color: #124b54;
    transition: 100ms;
    background: #fffaca;
    color: #124b54;
}


ul {
    list-style-type: none;
    padding: 0;

}


button:hover {
    width: 95%;
    background: #fff7b3;
}